/* li:matches(:nth-child(even), .target){
    background-color: gray;
}

li:not(.target) {
    background-color: red;
} */

/* :root {
    --awesomeColor: #2980b9;
    --awesomeBorder: 1px solid red;
}
 
li:first-child a {
    color: var(--awesomeColor);
}

li:last-child a {
    border: var(--awesomeBorder);
}


@custom-selector :--headers h1, h2, h3, h4, h5, h6;

:--headers {
    color: blueviolet;
} */

/* @custom-media --ipad-size ( 450px < width <= 850px);  

@media(--ipad-size){
    body {
        background-color: rebeccapurple;
    }
} */

h1 {
    color: #f1c40f;
}

h1:hover {
    color: color-mod(#e74c3c lightness(80%));
}

h2 {
    color: grey(50);
}

h3 {
    font-family: system-ui;
}